/* HOME PAGE*/
body{
    background-image: url(./images/image.png);
}


header {
    display: flex;
    background-color: darkblue;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

.menu-icon,
input[type="checkbox"] {
    display: none;
}



.logo {
    width: 150px;
}

nav {
    background-color: rgb(9, 118, 134);
    width:100%;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: auto;
}

nav ul {
    margin: 5px 0;
    list-style-type: none;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display:inline-block;
    line-height:80px;
    margin: 10px;
}

nav ul li a {
    color:white;
    font-size:20px;
    margin-left:80px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    background-color: #555;
    width:20%
}
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 16px;
}

.search-bar input {
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.search-bar input:hover {
    background-color: darkblue;
}


.logo{
    width:150px;
    height:150px;
}


.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:100px;
}

.search-bar {
    padding: 10px;
    padding-left: 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 50px;
    outline: none;
    width: 300px;
    transition: border-color 0.3s ease;
    margin-top:-200px;
    margin-left:900px;
    outline:2px solid black;
}




.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(187, 194, 207, 0.1);
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
}

.image-container {
    width: 100%;
    max-width: 1200px;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    outline:2px solid black;
}

.conte-container {
    margin-top: 30px;
    padding: 20px;
    max-width: 1000px;
    background-color: #aab0b2;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.conte-container h1 {
    font-size: 28px;
    color: #007c7a;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.conte-container p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
}



.online-services {
    text-align: center;
}

.online-services h1 {
    font-size: 24px;
    color: #e1b6b6;
    margin-bottom: 10px;
}

.online-services h2 {
    font-size: 20px;
    color: #9debe9;
    margin-bottom: 40px;
}

.services-container {
    display: grid;
    margin-left:40px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.service-card {
    background-color: rgb(208, 220, 222);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width:20%
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card .icon {
    margin-bottom: 15px;
}

.service-card h3 {
    font-size: 18px;
    color: #2b2b2b;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 14px;
    color: #666;
}

.sub-section {
    margin-top:20px;
    background-color: #8caeb3;
    padding: 40px 20px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sub-section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-section-image {
    width: 35%;
    margin-left:100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-content {
    width: 50%;
    padding-left: 20px;
}

h2 {
    margin-top:-10px;
    font-size: 28px;
    color: #44cfcc;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 16px;
    color: #fdf8f8;
    font-size:18px;
    line-height: 1.6;
}


.lists-section {
    margin-right:10px;
    background-color: #a09c9c;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

h2, h3 {
    color: #007c7a;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}


.bullet-list {
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 40px;
}

.bullet-list li {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}


.numbered-list {
    list-style-type: decimal;
    margin-left: 40px;
}

.numbered-list li {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}


.sect-1{
    background-color:rgb(154, 186, 208);
    width:800px;
    height:800px;
}

.IPC{
    background-color: rgba(193, 199, 199, 0.759);
    width:1250px;
    height:300px;
    border-radius: 10px;
    margin-top: 50px;
    margin-right:1200px;
    padding:100px;
}


#group{
    margin-top:100px;
    width:1500px;
    height:500px;
    filter: blur(3px);
    background-color:blue;
}


#fam{
   color:blue;
   font-size:20px;
   margin-top:30px;
   margin-left:10px;
   font-weight: 5;
   margin-right:15px;
}

#online{
    margin-left:10px;
    color:rgb(45, 187, 180)
}

#portals{
    background-color:red;
    width:200px;
    height:100px;
}

/*first portal*/
.card{
    background-color: white;
    width: 300px;
    height:150px;
    padding:20px;
    margin-top:50px;
    margin-left:10px;
    box-shadow: 0px 4px 8px rgb(0,0,0);
    text-align:center;
}

.icon img{
    width:40px;

}

#LAB{
    font-size:18px;
    color:#333;
    margin-bottom:10px;
}

#Rep{
    font-size:14px;
    color:#666;
    margin:0;

}

/*second portal*/
.card1{
    background-color: white;
    width: 300px;
    height:150px;
    padding:20px;
    margin-top:50px;
    margin-left:10px;
    box-shadow: 0px 4px 8px rgb(0,0,0);
    text-align:center;
}

.icon1 img{
    width:40px;

}
#PHAR{
    font-size:18px;
    color:#333;
    margin-bottom:10px;

}

#med{
    font-size:14px;
    color:#666;
    margin:0;


}

/*third portal*/
.card2{
    background-color: white;
    width: 300px;
    height:150px;
    padding:20px;
    margin-top:-430px;
    margin-left:500px;
    box-shadow: 0px 4px 8px rgb(0,0,0);
    text-align:center;
}

.icon2 img{
    width:40px;

}

#WEL{
    font-size:18px;
    color:#333;
    margin-bottom:10px;
}

#menu{
    font-size:14px;
    color:#666;
    margin:0;
}

/*fourth portal*/
.card3{
    background-color: white;
    width: 300px;
    height:150px;
    padding:20px;
    margin-top:20px;
    margin-left:500px;
    box-shadow: 0px 4px 8px rgb(0,0,0);
    text-align:center;
}

.icon3 img{
    width:40px;

}

#PAY{
    font-size:18px;
    color:#333;
    margin-bottom:10px;
}

#secure{
    font-size:14px;
    color:#666;
    margin:0;
}

/*fifth portal*/
.card4{
    background-color: white;
    width: 300px;
    height:150px;
    padding:20px;
    margin-top:-435px;
    margin-left:1000px;
    box-shadow: 0px 4px 8px rgb(0,0,0);
    text-align:center;
}

.icon4 img{
    width:40px;

}

#NUM{
    font-size:18px;
    color:#333;
    margin-bottom:10px;
}

#monitor{
    font-size:14px;
    color:#666;
    margin:0;
}

/*sixth portal*/
.card5{
    background-color:white;
    width: 300px;
    height:150px;
    padding:20px;
    margin-top:55px;
    margin-left:1000px;
    box-shadow: 0px 4px 8px rgb(0,0,0);
    text-align:center;
}

.icon5 img{
    width:40px;

}

#PAT{
    font-size:18px;
    color:#333;
    margin-bottom:10px;
}

#share{
    font-size:14px;
    color:#666;
    margin:0;
}


#end{
    width:120px;
    height:120px;

}



footer {
    background-color: #1A3A50; 
    color: #ffffff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 0 15px;
    min-width: 200px;
}


.footer-section h3 {
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    margin-left:20px;
}


.footer-section p {
    color: #D6E6F0;
    font-size: 14px;
    line-height: 1.6;
}


.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #D6E6F0;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #ffffff; 
}


.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons li {
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}


.footer-bottom {
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #2E5366;
    font-size: 12px;
    color: #D6E6F0;
}

#fb{
    width:50px;
    height:50px;
    margin-top:12px;
}

#insta{
    width:50px;
    height:50px;
    margin-top:10px;
    margin-left:10px;
}

#twit{
    width:40px;
    height:40px;
    margin-top:15px;
    margin-left:10px;
}


@media only screen and (max-width: 768px) {

    /* For header section */
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        width: 120px;
        height: auto;
    }

    nav {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
        line-height: 1.5;
    }

    .search-bar-container {
        margin: 0;
        justify-content: flex-start;
        margin-top: 10px;
    }

    .search-bar {
        width: 100%;
        margin: 0;
        font-size: 14px;
    }

    /* For the intro section */
    .intro-section {
        padding: 20px;
    }

    .image-container img {
        width: 100%;
    }

    /* For services and sections */
    .services-container {
        grid-template-columns: 1fr;
    }

    .service-card {
        width: 100%;
    }

    .sub-section-content {
        flex-direction: column;
        align-items: center;
    }

    .sub-section-image {
        width: 100%;
        margin: 20px 0;
    }

    .text-content {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    /* Lists */
    .bullet-list, .numbered-list {
        margin-left: 20px;
    }

    /* Portals */
    .card, .card1, .card2, .card3, .card4, .card5 {
        width: 100%;
        margin: 20px 0;
    }

    /* Footer section */
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
    }
}



/*About Us page*/
.branch1 h2{
    margin-top:50px;
    margin-left:500px;
}
.branch1{
    margin-top:20px;
    background-color: rgba(221, 223, 224, 0.562);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
   
}

 

.branch1 img{
    margin-top:-30px;

    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    width:300px;
    height:300px;

}


.branch1 p{
    margin-left:500px;
    margin-top:-250px;
    font-size:18px;
}

.branch1 iframe{
    margin-top:100px;
    margin-bottom:30px;
    width: 100%;
    height: 300px;

    border-radius: 5px;
    margin-bottom: 10px;
}

.branch2 h2{
    margin-top:50px;
    margin-left:500px;
}

.branch2{
    margin-top:20px;
    background-color: rgba(221, 223, 224, 0.562);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
   
}

.branch2 img{

    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    width:300px;
    height:300px;

}


.branch2 p{
    margin-left:500px;
    margin-top:-250px;
    font-size:20px;
}

.branch2 iframe{
    margin-top:150px;
    margin-bottom:40px;
    width: 100%;
    height: 300px;

    border-radius: 5px;
    margin-bottom: 10px;
}

.branch3 h2{
    margin-top:50px;
    margin-left:500px;
}

.branch3{
    margin-top:20px;
    background-color: rgba(221, 223, 224, 0.562);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
       
}
     
    
.branch3 img{

    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    width:300px;
    height:300px;

    
}
    
    
.branch3 p{
    margin-left:500px;
    margin-top:-250px;
    font-size:20px;
}
    
.branch3 iframe{
    margin-top:150px;
    margin-bottom:40px;
    width: 100%;
    height: 300px;

    border-radius: 5px;
    margin-bottom: 10px;
}

.branch4 h2{
    margin-top:50px;
    margin-left:500px;
}
.branch4{

    margin-top:20px;
    background-color: rgba(221, 223, 224, 0.562);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
       
}
     
    
.branch4 img{
    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
    width:300px;
    height:300px;

    
}
    
    
.branch4 p{
    margin-left:500px;
    margin-top:-200px;
    margin-right:10px;
    font-size:20px;
}
    
.branch4 iframe{
    margin-top:100px;
    margin-bottom:30px;
    width: 100%;
    height: 300px;
    
    border-radius: 5px;
    margin-bottom: 10px;
}

#Summary table{
   background-color:rgb(34, 32, 32);
   padding:30px;
   margin-top:20px;
   border-radius:9px;
}

#Summary table h2{
    color:white;
}

table{
    width:60%;
    border-collapse: collapse;
    margin:50px auto;
    font-family:Arial,sans-serif;
}

table th, table td
{
    border:1px solid #e8e3e3;
    background-color:rgb(202, 187, 187);
    color:white;
    padding:12px;
    text-align:center;
    margin-left:10px;
    inline:2px border black;

}


thead{
    background-color:gray;
    font-weight:bold;
}

tfoot{
    background-color:#f0f0f0;
    font-weight:bold;
    text-align:center;
   
}

tfoot td{
    padding:15px;
    border-top:2px solid #000;
}

/*mobile responsive*/
@media only screen and (max-width: 768px) {
    /* Branch 1 */
    .branch1 h2,
    .branch2 h2,
    .branch3 h2,
    .branch4 h2 {
        margin-left: 20px; 
        font-size: 24px;  
    }

    .branch1 img,
    .branch2 img,
    .branch3 img,
    .branch4 img {
        width: 100%;      
        height: auto;     
        margin: 0 auto;   
    }

    .branch1 p,
    .branch2 p,
    .branch3 p,
    .branch4 p {
        margin: 20px 0;   
        font-size: 16px; 
    }

    .branch1 iframe,
    .branch2 iframe,
    .branch3 iframe,
    .branch4 iframe {
        width: 100%;     
        height: auto;     
    }

    .branch1,
    .branch2,
    .branch3,
    .branch4 {
        padding: 10px;    
    }

    /* Summary Table */
    #Summary table {
        width: 100%;      
    }

    table th, table td {
        padding: 10px;   
        font-size: 14px; 
    }

    tfoot td {
        padding: 10px;    
    }
}


/*Service Page*/

#services {
    padding: 20px;
    background-color: lightgray;
}

#services h2 {
    margin-bottom: 15px;
    color:rgb(175, 175, 228);
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    background-color: #b9a6a6;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: transform 0.3s ease;
    flex: 1 1 calc(33.333% - 40px);
}



.item h3 {
    color: #082e3c;
}

.item p {
    margin-bottom: 10px;
}

.item img {
    max-width:40%;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}


#patient-registration{
    background-color: rgb(190, 217, 218);
    border-radius:5px;
 

    
}

#pr{
    font-size:15px;
}

/*mobile version*/
@media only screen and (max-width: 768px) {

    /* For #services section */
    #services {
        padding: 10px; 
    }

    /* For the services container */
    .services-container {
        flex-direction: column; 
        gap: 10px;
    }

    .item {
        flex: 1 1 100%; 
        margin-bottom: 10px; 
    }

    .item img {
        max-width: 100%; 
        height: auto; 
    }

    #patient-registration {
        padding: 10px; 
    }

    #pr {
        font-size: 14px; 
    }
}



/*Doctors page*/

/* doctors page css starts here */
.doctors-section{
    background-image: url(./Images/bg3.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;    
    background-attachment: fixed;
    height: 100%;
  }
  
  .doctors-h1{
    text-align: center; /* Center horizontally */
    margin-top: 4cm;
    position: absolute;
    margin-bottom: 18cm;
    margin-top:-150px;
    margin-left:600px;
  }
  
  .doctors-h1 h1{
    background: rgba(255, 255, 255, 0.75);
    color: #000000; 
    border-radius: 5px;
    padding: 13px; 
    display: inline-block; 
    font-size: 25px;
  }
  
  .profiles{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
    justify-content: center;
    margin-top: 5cm;
  }
  
  .doctor-profile1, .doctor-profile2, .doctor-profile3 {
    width: 350px; /* Fixed width for the items */
    margin: 10px; /* Adjust spacing between items */
    text-align: center; /* Center text and images */
  }
  .doctor-profile1 img, .doctor-profile2 img, .doctor-profile3 img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  .profile1-txt, .profile2-txt, .profile3-txt{
    background: rgba(255, 255, 255, 0.75);
    color: black;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 4px;
  }

/* Mobile styles */
@media only screen and (max-width: 768px) {

    .doctors-section {
      background-image: url(./Images/bg3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: scroll; /* Changed to scroll for better performance on mobile */
      height: auto; /* Adjust height to auto for better responsiveness */
    }
  
    .doctors-h1 {
      text-align: center; /* Center horizontally */
      margin-top: 20px;
      position: relative; /* Changed to relative to avoid overlapping */
      margin-bottom: 20px; /* Reduced bottom margin */
      margin-left: 0; /* Remove left margin */
    }
  
    .doctors-h1 h1 {
      font-size: 18px; /* Reduce font size */
      padding: 10px;
    }
  
    .profiles {
      flex-direction: column; /* Change layout to column */
      align-items: center;
      gap: 20px; /* Reduce gap between profiles */
      margin-top: 2cm; /* Reduce margin for smaller screens */
    }
  
    .doctor-profile1, .doctor-profile2, .doctor-profile3 {
      width: 100%; /* Make profiles take full width */
      margin: 10px 0; /* Adjust margins */
    }
  
    .doctor-profile1 img, .doctor-profile2 img, .doctor-profile3 img {
      max-width: 80%; /* Reduce image width */
      margin-top: 0; /* Remove negative margin */
    }
  
    .profile1-txt, .profile2-txt, .profile3-txt {
      font-size: 16px; /* Reduce font size */
      padding: 15px; /* Adjust padding */
      margin-top: 5px;
    }
  }
  




/* Consultation page*/

.res-form{
    width:80%;
    margin:0 auto;
    background-color:rgb(114, 146, 162);
    padding:20px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.1);
    border-radius:8px;
    margin-top:30px;
    margin-left:250px;
    margin-bottom:30px;
    max-width: 900px;;
}


.res-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


input,select,textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}


button {
    width: 100%;
    background-color: #1b3840;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #131e15;
}


.navbar {
    background-color: #007bff;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #0056b3;
    padding: 15px;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: none;
}

/*mobile verison*/

@media only screen and (max-width: 768px) {

    /* Responsive form */
    .res-form {
        width: 95%; /* Make the form width smaller for tablets */
        margin-left: auto;
        margin-right: auto; /* Center the form */
        padding: 15px; /* Reduce padding */
    }

    .res-form h2 {
        font-size: 20px; /* Adjust heading size */
        margin-bottom: 15px; /* Reduce bottom margin */
    }

    input, select, textarea {
        font-size: 14px; /* Reduce input font size */
        padding: 8px; /* Reduce padding */
    }

    button {
        font-size: 14px; /* Reduce button font size */
        padding: 8px; /* Adjust button padding */
    }

    /* Responsive navbar */
    .navbar {
        flex-direction: column; /* Stack navbar links vertically */
        padding: 10px; /* Adjust padding */
    }

    .navbar a {
        font-size: 14px; /* Reduce link font size */
        padding: 10px; /* Adjust padding */
    }
}





/*pharmcy page*/

.pharmcy{
    width:60%;
    margin-top:10px;
    margin:0 auto;
    background-color:rgb(143, 143, 173);
    padding:20px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.1);
    border-radius:8px;
    margin-top:30px;
    margin-left:250px;
    margin-bottom:30px;
   

}

.pharmcy h2 {
    
    margin-bottom: 20px;
    color: #333;
}

@media only screen and (max-width: 768px) {

    .pharmcy {
        width: 90%; /* Make the width smaller for tablets */
        margin: 0 auto; /* Center the pharmacy section */
        padding: 15px; /* Reduce padding for smaller screens */
        margin-top: 20px; /* Adjust top margin */
    }

    .pharmcy h2 {
        font-size: 20px; /* Adjust heading size */
        margin-bottom: 15px; /* Adjust margin below the heading */
    }
}




/*contact us */

.contact-container {
    background-color: #bea69b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(212, 203, 203, 0.1);
    width: 200%;
    margin-top:30px;
    margin-left:250px;
    margin-bottom:30px;
    max-width: 900px;;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

p {
    margin-bottom: 20px;
    text-align: center;
    color: #111010;
}

form label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
    color: #333;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #d7c8c8;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #495764;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}

.contact-info h3 {
    margin-bottom: 10px;
    color: #0f0e0e;
}

.contact-info p {
    color: #131212;
}
footer {
    background-color: #1A3A50; 
    color: #ffffff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin: 0 15px;
    min-width: 200px;
    margin-right:50px;
}


.footer-section h3 {
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    margin-left:100px;
    margin-top:10px;
}

.footer-section p {
    color:white;
    margin: 5px 0; 
    line-height: 1.2;
    font-size: 14px; 
    margin-right:10px;

}

.contact-info {
    margin-top: 10px; 
    text-align: center;
    margin-top:-10px;
}

.contact-info h3 {
    margin-bottom: 5px; 
    color: white;
    font-size: 20px;
    margin-left:50px;
}

.contact-info p {
    color:white;
    margin: 5px 0; 
    line-height: 1.2;
    font-size: 14px; 
    margin-left:50px;
}


.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #D6E6F0;
    text-decoration: none;
    font-size: 14px;
    margin-left:100px;
}

.footer-section ul li a:hover {
    color: #ffffff; 
}


.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons li {
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}


.footer-bottom {
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #2E5366;
    font-size: 12px;
    color: #D6E6F0;
}

#fb{
    width:50px;
    height:50px;
    margin-top:12px;
}

#insta{
    width:50px;
    height:50px;
    margin-top:10px;
    margin-left:10px;
}

#twit{
    width:40px;
    height:40px;
    margin-top:15px;
    margin-left:10px;
}


/*mobiel view*/

@media only screen and (max-width: 768px) {

    /* Responsive contact container */
    .contact-container {
        width: 90%; /* Make width smaller for tablets */
        margin-left: auto;
        margin-right: auto; /* Center the container */
        padding: 15px; /* Reduce padding */
    }

    h2 {
        font-size: 24px; /* Adjust heading size */
        margin-bottom: 15px; /* Adjust margin */
    }

    p {
        font-size: 16px; /* Adjust paragraph font size */
    }

    form input, form textarea {
        font-size: 14px; /* Reduce input field font size */
        padding: 8px; /* Adjust padding */
    }

    form button {
        font-size: 14px; /* Reduce button font size */
        padding: 8px; /* Adjust button padding */
    }

    .contact-info h3 {
        font-size: 18px; /* Adjust heading size */
    }

    .contact-info p {
        font-size: 14px; /* Adjust paragraph size */
    }

    /* Responsive footer */
    .footer-container {
        flex-direction: column; /* Stack footer sections vertically */
        align-items: center; /* Center-align sections */
    }

    .footer-section {
        margin: 10px 0; /* Adjust margins for better spacing */
    }

    .footer-section h3 {
        font-size: 16px; /* Reduce heading font size */
        margin-left: 0; /* Remove large left margin */
    }

    .footer-section p, .footer-section ul li a {
        font-size: 12px; /* Adjust text font size */
        margin-left: 0; /* Adjust margin for mobile */
    }

    .social-icons img {
        width: 32px; /* Increase size for better touch target */
        height: 32px;
    }
}



